<html lang="en">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/js/jquery.js"></script>
</head>
<body>
	<div id="main">
	<!-- header begins -->
	<div id="header">
		{% block header %}
		<center><h1>{{title}}</h1></center>
		{% endblock %}
	</div>
	<!-- header ends -->
	<!-- content begins -->
	<div id="content">
		{% block content %}
		{% endblock %}	
	</div>
	<!-- content ends -->
	<!-- footer begins -->
	<div id="footer">
		{% block footer %}
		<center><p>Copyright &copy; 2009. <a href="http://www.ddth.org" title="Dien Dan Tin Hoc">Dien Dan Tin Hoc</a></p></center>
		<p>&nbsp;</p>
		{% endblock %}
	</div>
	<!-- footer ends -->
	</div>
</body>
</html>
