{% extends "base.html" %}
{% block content %}
{{ block.super }}
	<form action="/simulate.py" method="post">
		<div>Count<input type="text" name="count" value="200"></input></div>
		<div>Gladiator<input type="text" name="gladiator1" value="gladiator1"/></div>
		<div>Level<input type="text" name="level1" value="0"/></div>
		<div>HP<input type="text" name="hitpoint1" value="10000"/></div>
		<div>Agility<input type="text" name="agility1" value="30"/></div>
		<div>Armour<input type="text" name="armour1" value="700"/></div>
		<div>Charisma<input type="text" name="charisma1" value="45"/></div>
		<div>Skill<input type="text" name="skill1" value="45"/></div>
		<div>Damage Min<input type="text" name="damage11" value="34"/></div>
		<div>Damage Max<input type="text" name="damage21" value="40"/></div>
		<div>Vs.</div>
		<div>Gladiator<input type="text" name="gladiator2"value="gladiator2"/></div>
		<div>Level<input type="text" name="level2" value="0"/></div>
		<div>HP<input type="text" name="hitpoint2" value="10000"/></div>
		<div>Agility<input type="text" name="agility2" value="76"/></div>
		<div>Armour<input type="text" name="armour2" value="1000"/></div>
		<div>Charisma<input type="text" name="charisma2" value="34"/></div>
		<div>Skill<input type="text" name="skill2" value="67"/></div>
		<div>Damage Min<input type="text" name="damage12" value="23"/></div>
		<div>Damage Max<input type="text" name="damage22" value="32"/></div>
		<div><input type="submit" value="Simulate"/></div>
	</form>
{% endblock %}