body {
	background: #ecf0f6;
	color: #000;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	scrollbar-3dlight-color: #d1d7dc;
	scrollbar-arrow-color: #069;
	scrollbar-darkshadow-color: #98aab1;
	scrollbar-face-color: #dee3e7;
	scrollbar-highlight-color: #fff;
	scrollbar-shadow-color: #dee3e7;
	scrollbar-track-color: #efefef;
	text-align: center;
}

font, th, td, p {
	font: 11px Verdana, Arial, Helvetica, sans-serif
}

#main {
	width: 800;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#header {
	width: 800px;
	height: 50px;
}

#content {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	margin-top: 30px;
	margin-bottom: 30px;
}

#events {
	margin: 0 0 0 0px;
	background: #FFFFFF none repeat scroll 0 0;
	border: 1px solid #FFFFFF;
	color: #000000;
}

#events .status_actions {
	float: left;
	vertical-align: middle;
}

#events .clickable-row {
	background: #cad9ea;
	color: #000;
	text-align: center;
	cursor: pointer;
	_cursor: hand;
}

#events .header {
	color: #EDF6F9;
	font-weight: bold;
	background: #036;
	text-align: center;
	letter-spacing: 1px;
}

#alerts .header {
	color: #EDF6F9;
	font-weight: bold;
	background: #036;
	text-align: center;
	letter-spacing: 1px;
}

#events .row {
	background: #cad9ea;
	color: #000;
	text-align: center;
}

#events .summary {
	background: #d9e2ec;
	color: #000
}